{% extends 'base.html' %}

{% block style %}
table{
	position: relative;
	background-color: #444;
	border-radius: 25px;
  	box-shadow: 5px 5px 15px 3px #111;
  	font-family: 'Oxygen';
  	position: relative;
  	margin: 1em auto;
  	padding: 1em 0;
  	display: block-inline;
}
#txt{
	text-align: right;
  	font-size: 2em;
  	min-height: 1.2em;
  	margin-left: 0.5em;
	border-radius: 25px;
  	box-shadow: 5px 5px 15px 3px #111;
  	padding-right: 1em;
  	border: 1px solid #888;
  	color: #333;
  	background-color: #aaa;
}

#btn{
	text-align: center;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #555;
  background-color: #eee;
  padding: 10px 0;
  margin: 7px 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 1px 1px #222;
  width: 85%;
}

body {
  background-color: darkkhaki;
}
{% endblock %}
{% block content %}
	<script type="text/javascript">
		var exp = new Array();
		var k;
		k = "-1";
		function fn(x){
			x.style.backgroundColor  = "00FF00";
			if(k!="-1"){
				exp[exp.length] = k;
			}
			k = "-1";
			exp[exp.length] = x.value;
			document.getElementById("txt").value = x.value;
		}
		
		function fn1(x){
			if(k==="-1"){
				k = x.value;
			}
			else{
				k = k+ x.value;
			}
			document.getElementById("txt").value = k;
		}
		function fn2(x){
			if(k!="-1"){
				exp.push(k);
				document.getElementById("txt").value = k;
				k = "-1";
			}
			var eval = parseInt(0);
			for(i=0;i<exp.length;i++){
				if(i%2==1){
					v1=Number(exp[i+1]);
					if(exp[i] == "+"){
						eval = eval + v1;
					}
					if(exp[i] == "-"){
						eval = eval - v1;
					}
					if(exp[i] == "*"){
						eval = eval * v1;
					}
					if(exp[i] == "/"){
						eval = eval / v1;
					}
					i++;
				}
				else{
					eval = parseInt(exp[i]);
				}
				document.getElementById("txt").value = eval;
			}
			for(i=0;i<exp.length;i++){
				exp.pop();
			}
			var pr = document.getElementById("but");
			pr.style.backgroundColor = "0000FF"
		}
		function fn3(x){
			for(i=0;i<exp.length;i++){
				exp.pop();
			}
			k="-1";
			document.getElementById("txt").value = "0";
		}
		function f7(){
			var date = new Date();
			date = date.getFullYear();
			var d = document.myform.date.value;
			//d1 = d.getFullYear;
			d = d.substring(0,4);
			d1 = 10000;
			d2 = 99999;
			d = Math.floor(Math.random()*(d2-d1))+d1;
			x = prompt("Enter number shown \n"+d);
			if(x==d){
				return true;
			}
			else{
				alert("incorrectttt");
				return false;
			}

		}
	</script>

	<table cellpadding="10" cellspacing="15">
		<tr><td  colspan="4"><input type="text" id = "txt"></td><br></tr>
		<tr>
			<td><input id = "btn" type = "button" id = "but" value = "+" onclick = "fn(this)" onmouseover="fn4(this)" onmouseout="fn5(this)"></td>
			<td ><input id = "btn" type = "button" value = "-" onclick = "fn(this)" ></td>
			<td><input id = "btn" type = "button" value = "*" onclick = "fn(this)"></td>
			<td><input id = "btn" type = "button" value = "/" onclick = "fn(this)"></td>
		</tr>
		<tr>
			<td><input id = "btn" type = "button" value = "0" onclick = "fn1(this)"></td>
			<td><input id = "btn" type = "button" value = "1" onclick = "fn1(this)"></td>
			<td><input id = "btn" type = "button" value = "2" onclick = "fn1(this)"></td>
			<td><input id = "btn" type = "button" value = "3" onclick = "fn1(this)"></td>
		</tr>
		<tr>
			<td><input id = "btn" type = "button" value = "4" onclick = "fn1(this)"></td>
			<td><input id = "btn" type = "button" value = "5" onclick = "fn1(this)"></td>
			<td><input id = "btn" type = "button" value = "6" onclick = "fn1(this)"></td>
			<td><input id = "btn" type = "button" value = "7" onclick = "fn1(this)"></td>
		</tr>
		<tr>
			<td><input id = "btn" type = "button" value = "8" onclick = "fn1(this)"></td>
			<td><input id = "btn" type = "button" value = "9" onclick = "fn1(this)"></td>
			<td><input id = "btn" type = "button" value = "C" onclick = "fn3(this)"></td>
			<td><input id = "btn" type = "button" value = "=" onclick = "fn2(this)"></td>
		</tr>
	</table>
	<br/>
{% endblock %}